# LEITURA DE DADOS EM R
* `getwd()`: get working directory.
* `setwd()`: set working directory.
* Tipos de arquivos comuns utilizados em R:
    * `csv`, `xlsx`, `xml`, `json`.
    * Arquivos bin치rios: `writeBin()` e `readBin()`.

# CSV

In [17]:
data <- read.csv("../DADOS/input.csv")
print(data)

print(is.data.frame(data))
print(ncol(data))
print(nrow(data))

# M치ximo sal치rio
max_sal <- max(data$salary)
print(max_sal)
cat('\n')

# Detalhes da pessoa com maior sal치rio
retval <- subset(data, salary == max(salary))
print(retval)
cat('\n')

# Pessoa que trabalha no departametno de "Operations" e ganha mais de $600
operators <- subset(data, dept == 'Operations' & salary > 600.00)
print(operators)
cat('\n')

# Pessoas que entraram depois de 2013
biggert2013 <- subset(data, as.Date(start_date) >= as.Date('2013-01-01'))
print(biggert2013)

  id     name salary start_date       dept
1  1     Rick 623.30 2012-01-01         IT
2  2      Dan 515.20 2013-09-23 Operations
3  3 Michelle 611.00 2014-11-15         IT
4  4     Ryan 729.00 2014-05-11         HR
5  5     Gary 843.25 2015-03-27    Finance
6  6     Nina 578.00 2013-05-21         IT
7  7    Simon 632.80 2013-07-30 Operations
8  8     Guru 722.50 2014-06-17    Finance
[1] TRUE
[1] 5
[1] 8
[1] 843.25

  id name salary start_date    dept
5  5 Gary 843.25 2015-03-27 Finance

  id  name salary start_date       dept
7  7 Simon  632.8 2013-07-30 Operations

  id     name salary start_date       dept
2  2      Dan 515.20 2013-09-23 Operations
3  3 Michelle 611.00 2014-11-15         IT
4  4     Ryan 729.00 2014-05-11         HR
5  5     Gary 843.25 2015-03-27    Finance
6  6     Nina 578.00 2013-05-21         IT
7  7    Simon 632.80 2013-07-30 Operations
8  8     Guru 722.50 2014-06-17    Finance

## Escrevendo no csv

In [22]:
data <- read.csv("../DADOS/input.csv")
print(data)

# Pessoas que entraram depois de 2013
biggert2013 <- subset(data, as.Date(start_date) >= as.Date('2013-01-01'))

write.csv(biggert2013, "../DADOS/output.csv", row.names = FALSE) # Remove a coluna extra
cat('\n')

teste <- read.csv("../DADOS/output.csv")
print(teste)

  id     name salary start_date       dept
1  1     Rick 623.30 2012-01-01         IT
2  2      Dan 515.20 2013-09-23 Operations
3  3 Michelle 611.00 2014-11-15         IT
4  4     Ryan 729.00 2014-05-11         HR
5  5     Gary 843.25 2015-03-27    Finance
6  6     Nina 578.00 2013-05-21         IT
7  7    Simon 632.80 2013-07-30 Operations
8  8     Guru 722.50 2014-06-17    Finance

  id     name salary start_date       dept
1  2      Dan 515.20 2013-09-23 Operations
2  3 Michelle 611.00 2014-11-15         IT
3  4     Ryan 729.00 2014-05-11         HR
4  5     Gary 843.25 2015-03-27    Finance
5  6     Nina 578.00 2013-05-21         IT
6  7    Simon 632.80 2013-07-30 Operations
7  8     Guru 722.50 2014-06-17    Finance